<header id="header" data-section-name="top-panel" class="sticky scroll-panel-small" role="banner">
    <div class="header-top">
        <div class="header-container">
            <div class="header-top-left">
                <span class="header-top-message"><i class="icons8-truck-filled"></i> 
                    We're here for you during COVID-19. FREE shipping on all orders in the continental U.S.!
                </span>
            </div>
            <div class="header-top-right">
                <nav id="top-menu" class="top-menu" role="navigation">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="menu">
                            <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">
                                <a href="{{ shop.url }}/my-account/">My Account</a>
                            </li>
                        </ul>
                    </div>		
                </nav>
                <a class="phone-number" href="tel:8888946951" title="Call Twin XL"><i class="icons8-phone-2"></i>(888) 894-6951</a>
            </div>
        </div>
    </div>
    <div class="header-main coco">
        <div class="header-container">
            <div class="header-left">
                <!--SITE LOGO-->
                <div id="branding">
                    <div class="site-logo">
                        <a href="{{ shop.url }}" title="Twin XL" rel="home">Twin XL</a>
                    </div>
                </div>
                <a class="hidden-desktop mobile-header-phone" href="tel:8888946951" title="Call Twin XL"><i class="icons8-phone-outline"></i></a>
            </div>
            <!--NAV MENU-->
            <div class="header-middle">
                <div class="header-nav-container">
                    <div class="header-nav">
                        <nav id="desktop-menu" class="desktop-menu" role="navigation">
                        <div class="menu-main-navigation-menu-container"><ul id="menu-main-navigation-menu" class="menu"><li id="menu-item-13242" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13242"><a href="#">Shop</a>
<ul class="sub-menu">
<li id="menu-item-5239" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5239"><a href="{{ shop.url }}/product-category/shop/twin-xl/">Twin XL</a>
<ul class="sub-menu">
    <li id="menu-item-5240" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5240"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-comforters-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-Light-Blue-001-Blue-fold-e1564065204288.jpg">Comforters &amp; Sets</span></a></li>
    <li id="menu-item-5241" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5241"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-duvets-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-002-Folded-0918-19-4-8-e1563980320417.jpg">Duvets &amp; Sets</span></a></li>
    <li id="menu-item-5244" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5244"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-sheet-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-001-Fold-0079-18-11-28-e1563912908978.jpg">Sheet Sets</span></a></li>
    <li id="menu-item-5242" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5242"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-fitted-sheets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-001-Fold-18-11-28-e1563907088336.jpg">Fitted Sheets</span></a></li>
    <li id="menu-item-5243" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5243"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-flat-sheets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/White-01-Single-0986-19-4-12-e1563994837577.jpg">Flat Sheets</span></a></li>
</ul>
</li>
<li id="menu-item-5234" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5234"><a href="{{ shop.url }}/product-category/shop/twin/">Twin</a>
<ul class="sub-menu">
    <li id="menu-item-5235" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5235"><a href="{{ shop.url }}/product-category/shop/twin/twin-comforters-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-Light-Blue-001-Blue-fold-e1564065204288.jpg">Comforters &amp; Sets</span></a></li>
    <li id="menu-item-5236" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5236"><a href="{{ shop.url }}/product-category/shop/twin/twin-duvets-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-002-Folded-0918-19-4-8-e1563980320417.jpg">Duvets &amp; Sets</span></a></li>
    <li id="menu-item-5238" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5238"><a href="{{ shop.url }}/product-category/shop/twin/twin-sheet-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-Je-Sheet-Set-Stack-0248-18-11-28-e1563915635170.jpg">Sheet Sets</span></a></li>
    <li id="menu-item-5237" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5237"><a href="{{ shop.url }}/product-category/shop/twin/twin-fitted-sheets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-001-Fold-18-11-28-e1563907088336.jpg">Fitted Sheets</span></a></li>
    <li id="menu-item-6616" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6616"><a href="{{ shop.url }}/product-category/shop/twin/twin-flat-sheets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Grey-01-Single-0986-19-4-12-e1563994789716.jpg">Flat Sheets</span></a></li>
</ul>
</li>
<li id="menu-item-5224" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5224"><a href="{{ shop.url }}/product-category/shop/full-xl/">Full XL</a>
<ul class="sub-menu">
    <li id="menu-item-5225" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5225"><a href="{{ shop.url }}/product-category/shop/full-xl/full-xl-comforters-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-Light-Blue-001-Blue-fold-e1564065204288.jpg">Comforters &amp; Sets</span></a></li>
    <li id="menu-item-5226" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5226"><a href="{{ shop.url }}/product-category/shop/full-xl/full-xl-duvets-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-002-Folded-0918-19-4-8-e1563980320417.jpg">Duvets &amp; Sets</span></a></li>
    <li id="menu-item-5228" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5228"><a href="{{ shop.url }}/product-category/shop/full-xl/full-xl-sheet-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-Je-Sheet-Set-Stack-0248-18-11-28-e1563915635170.jpg">Sheet Sets</span></a></li>
    <li id="menu-item-5227" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5227"><a href="{{ shop.url }}/product-category/shop/full-xl/full-xl-fitted-sheets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-001-Fold-18-11-28-e1563907088336.jpg">Fitted Sheets</span></a></li>
</ul>
</li>
<li id="menu-item-5229" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5229"><a href="{{ shop.url }}/product-category/shop/split-king/">Split King</a>
<ul class="sub-menu">
    <li id="menu-item-5230" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5230"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-comforters-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-Light-Blue-001-Blue-fold-e1564065204288.jpg">Comforters &amp; Sets</span></a></li>
    <li id="menu-item-5231" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5231"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-duvets-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-002-Folded-0918-19-4-8-e1563980320417.jpg">Duvets &amp; Sets</span></a></li>
    <li id="menu-item-5233" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5233"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-sheet-sets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-Je-Sheet-Set-Stack-0248-18-11-28-e1563915635170.jpg">Sheet Sets</span></a></li>
    <li id="menu-item-5232" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5232"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-fitted-sheets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-001-Fold-18-11-28-e1563907088336.jpg">Fitted Sheets</span></a></li>
    <li id="menu-item-39536" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-39536"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-flat-sheets/">Flat Sheets</a></li>
</ul>
</li>
<li id="menu-item-5217" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5217"><a href="{{ shop.url }}/product-category/shop/accessories/">Essentials</a>
<ul class="sub-menu">
    <li id="menu-item-5219" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5219"><a href="{{ shop.url }}/product-category/shop/accessories/blankets/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-03-Sherpa-4439-19-5-31-e1564066160973.jpg">Blankets</span></a></li>
    <li id="menu-item-5223" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5223"><a href="{{ shop.url }}/product-category/shop/accessories/pillows/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Fiber-Pillow-02-0899-19-4-12-e1563907158623.jpg">Pillows</span></a></li>
    <li id="menu-item-5222" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5222"><a href="{{ shop.url }}/product-category/shop/accessories/pillowcases/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-001-0252-18-12-20-e1563915089481.jpg">Pillowcases</span></a></li>
    <li id="menu-item-5221" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5221"><a href="{{ shop.url }}/product-category/shop/accessories/mattress-pads/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Quilted-Mattress-Pad-MF-18-11-29-e1564004490163.jpg">Mattress Pads</span></a></li>
    <li id="menu-item-5220" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5220"><a href="{{ shop.url }}/product-category/shop/accessories/mattress-pillow-protectors/"><span data-img-url="https://twinxl.com/wp-content/uploads/2019/07/Te-Protector-Set-18-12-7-e1564066689217.jpg">Mattress &amp; Pillow Protectors</span></a></li>
    <li id="menu-item-5218" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5218"><a href="{{ shop.url }}/product-category/shop/accessories/bed-skirts/">Bed Skirts</a></li>
</ul>
</li>
<li><div class="img-switcher background-image background-image-contain" style="background-image:url(https://twinxl.com/wp-content/uploads/2019/07/Dark-Blue-Light-Blue-001-Blue-fold-e1564065204288.jpg)"></div></li></ul>
</li>
<li id="menu-item-7465" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-7465"><a href="{{ shop.url }}/product-category/bedding-bundles/">Bedding Bundles</a></li>
<li id="menu-item-5246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5246"><a href="{{ shop.url }}/pages/about/">About Us</a></li>
<li id="menu-item-6660" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6660"><a target="_blank" rel="noopener" href="https://www.shopperapproved.com/reviews/twinxl.com/">Reviews</a></li>

</ul></div>							</nav>
                    </div>
                </div>
            </div>
            <!--CART BUTTON-->
            <div class="header-right">
                
                <a class="cart-customlocation-dos" href="{{ shop.url }}/cart/" title="View your shopping cart"><i class="icons8-shopping-cart-2"></i> (
<span class="cart-count">0</span>

)</a>
                
            </div>
            <button class="toggle-button" data-featherlight="#mobile-menu-wrap"><i class="icons8-menu-2"></i></button>
        </div>
    </div>
    <div id="mobile-menu-wrap" class="lightbox">
        <nav id="mobile-menu" class="mobile-menu" role="navigation">
            <div class="menu-mobile-menu-container"><ul id="menu-mobile-menu" class="menu"><li id="menu-item-262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-262"><a href="{{ shop.url }}/" aria-current="page">Home</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
<li id="menu-item-260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-260"><a href="{{ shop.url }}/shop/">Shop</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span>
<ul class="sub-menu">
<li id="menu-item-5518" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5518"><a href="{{ shop.url }}/product-category/shop/twin-xl/">Twin XL</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span>
<ul class="sub-menu">
    <li id="menu-item-6917" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6917"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-comforters-sets/">Comforters &amp; Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6919" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6919"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-duvets-sets/">Duvets &amp; Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6922" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6922"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-sheet-sets/">Sheet Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6920" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6920"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-fitted-sheets/">Fitted Sheets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6921" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6921"><a href="{{ shop.url }}/product-category/shop/twin-xl/twin-xl-flat-sheets/">Flat Sheets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
</ul>
</li>
<li id="menu-item-5517" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5517"><a href="{{ shop.url }}/product-category/shop/twin/">Twin</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span>
<ul class="sub-menu">
    <li id="menu-item-6923" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6923"><a href="{{ shop.url }}/product-category/shop/twin/twin-comforters-sets/">Comforters &amp; Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6925" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6925"><a href="{{ shop.url }}/product-category/shop/twin/twin-duvets-sets/">Duvets &amp; Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6928" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6928"><a href="{{ shop.url }}/product-category/shop/twin/twin-sheet-sets/">Sheet Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6926" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6926"><a href="{{ shop.url }}/product-category/shop/twin/twin-fitted-sheets/">Fitted Sheets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6927" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6927"><a href="{{ shop.url }}/product-category/shop/twin/twin-flat-sheets/">Flat Sheets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
</ul>
</li>
<li id="menu-item-5514" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5514"><a href="{{ shop.url }}/product-category/shop/full-xl/">Full XL</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span>
<ul class="sub-menu">
    <li id="menu-item-6929" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6929"><a href="{{ shop.url }}/product-category/shop/full-xl/full-xl-comforters-sets/">Comforters &amp; Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6930" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6930"><a href="{{ shop.url }}/product-category/shop/full-xl/full-xl-duvets-sets/">Duvets &amp; Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6932" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6932"><a href="{{ shop.url }}/product-category/shop/full-xl/full-xl-sheet-sets/">Sheet Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6931" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6931"><a href="{{ shop.url }}/product-category/shop/full-xl/full-xl-fitted-sheets/">Fitted Sheets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
</ul>
</li>
<li id="menu-item-5516" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5516"><a href="{{ shop.url }}/product-category/shop/split-king/">Split King</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span>
<ul class="sub-menu">
    <li id="menu-item-6933" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6933"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-comforters-sets/">Comforters &amp; Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6934" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6934"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-duvets-sets/">Duvets &amp; Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6936" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6936"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-sheet-sets/">Sheet Sets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6935" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6935"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-fitted-sheets/">Fitted Sheets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-39535" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-39535"><a href="{{ shop.url }}/product-category/shop/split-king/split-king-flat-sheets/">Flat Sheets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
</ul>
</li>
<li id="menu-item-5513" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-5513"><a href="{{ shop.url }}/product-category/shop/accessories/">Essentials</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span>
<ul class="sub-menu">
    <li id="menu-item-6938" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6938"><a href="{{ shop.url }}/product-category/shop/accessories/blankets/">Blankets</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6942" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6942"><a href="{{ shop.url }}/product-category/shop/accessories/pillows/">Pillows</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6941" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6941"><a href="{{ shop.url }}/product-category/shop/accessories/pillowcases/">Pillowcases</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6939" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6939"><a href="{{ shop.url }}/product-category/shop/accessories/mattress-pillow-protectors/">Mattress &amp; Pillow Protectors</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6940" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6940"><a href="{{ shop.url }}/product-category/shop/accessories/mattress-pads/">Mattress Pads</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
    <li id="menu-item-6937" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6937"><a href="{{ shop.url }}/product-category/shop/accessories/bed-skirts/">Bed Skirts</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
</ul>
</li>
<li><div class="img-switcher background-image background-image-contain" style="background-image:url(undefined)"></div></li></ul>
</li>
<li id="menu-item-6994" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6994"><a href="{{ shop.url }}/product-category/bedding-bundles/">Bedding Bundles</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
<li id="menu-item-258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258"><a href="{{ shop.url }}/about/">About</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
<li id="menu-item-6916" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6916"><a href="https://www.shopperapproved.com/reviews/twinxl.com/">Reviews</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
<li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257"><a href="{{ shop.url }}/contact-us/">Contact Us</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
<li id="menu-item-261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-261"><a href="{{ shop.url }}/my-account/">My Account</a><span class="toggle-sub-menu"><span class="inactive"><i class="icons8-expand-arrow"></i></span><span class="active"><i class="icons8-collapse-arrow"></i></span></span></li>
</ul></div>			</nav>
    </div>
</header>