<main id="content" role="main" style="min-height: 110.812px;">
	<div class="container clearfix">
		<article class="article_default">
		    <h1 style="text-align: center;">Your Twin Extra Long Questions Answered</h1>
            <p>All of your TwinXL.com product questions answered! If you have questions about your account, shipping, returns, or billing, please visit our <a href="{{ shop.url }}/pages/order-account-support">account support page</a>. If you don’t see answers to your product questions, our friendly customer service team would love to help out. They can be reached <a href="{{ shop.url }}/pages/contact-us/">here</a> or by calling <span style="font-weight: 400;">(888) 894-6951.</span></p>
            <h2 style="text-align: center;">Extra Long Bedding 101</h2>
            <div class="shortcode-accordion">
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">How long is an Extra Long Twin bed?<span class="open-close"><i class="icons8-multiply"></i></span></h3><div class="accordion__copy js-copy" style="display: none;">Twin extra long mattresses are most commonly referred to as Twin XL. The “XL” stands for extra long. The dimensions of twin extra long beds are 39 inches wide by 80 inches long. This means that twin extra long mattresses measure 5 inches longer than a standard Twin mattress. <a href="{{ shop.url }}/product-category/shop/twin-xl/">Shop Twin XL bedding now</a>.</div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">What are the dimensions of a Full Extra Long mattress?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;">Simmilar to Twin XL mattresses, Full Extra Long beds are 5 inches longer than standard Full mattresses. The dimensions for Full Extra Long beds are 54 inches wide by 80 inches long.</div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">What is a Split King bed?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;">Split King beds are known for being split down the middle to accommodate different mattress preferences. Split King mattresses are made of two Twin XL mattresses with each mattress measuring 39 inches wide by 80 inches long.</div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Where are Twin Extra Long beds commonly used?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;">Twin Extra Long is the bedding and sheet size for Twin XL beds. Twin Extra Long bedding is necessary for dorm room living at most American colleges. Extra long beds can be difficult to shop for. Luckily, TwinXL.com has all of your college bedding essentials in one spot to make dorm room shopping quick, easy and affordable.</div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Where can I buy Extra Long Bedding?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;">TwinXL.com is the Extra Long Bedding Superstore! We offer the largest selection of high quality bedding in the hard to find Twin XL/Extra-Long, Full XL and Split King sizes. <a href="{{ shop.url }}/product-category/shop/">TwinXL.com</a> offers a huge collection of bed sets, sheets, comforters, and other bedding essentials for extra long mattresses.</div>
                </div>
            </div>
            <h3 style="text-align: center;">General</h3>
            <div class="shortcode-accordion">
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">What thread count is microfiber?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Microfiber is not graded in thread count. Microfiber fabric threads are much finer than cotton fiber threads, which would put microfiber thread count over 1200. This uneven comparison is why microfiber is instead graded by GSM (grams per square meter). Our microfiber fabric is a premium heavy weight fabric that has been double brushed for softness.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">How deep are your fitted sheets?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Our fitted sheets feature extra deep pockets designed to fit mattresses 6”-15” deep. Need even deeper pockets? We’ve got you covered. Shop our sheets with extra, extra deep pockets – fitting mattresses up to 21” deep! <a href="{{ shop.url }}/product/microfiber-fitted-sheet-21-extra-deep-pocket/">Shop our fitted sheets with 21″ deep pockets here</a>.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">How do I wash my new bedding?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">All of our bedding is easy to care for! We suggest machine washing in cold water on a gentle cycle with similar colors. Tumble dry on low.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Will my bedding shrink?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Our microfiber bedding is pre-shrunk so you can feel confident that your sheets will maintain their size wash after wash.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">What is your return policy?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;">We are confident you’ll love our products! However, if they aren’t exactly what you drempt about, simply contact us to return the item for a refund within 30 days of your purchase. Please <a href="{{ shop.url }}/pages/returns/">see our return policy</a> for details.</div>
                </div>
            </div>
            <h3 style="text-align: center;">Bed-in-A-Bag</h3>
            <div class="shortcode-accordion">
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">How many pillowcases does the bed-in-a-bag come with?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">We offer a reversible comforter and a solid comforter bed-in-a-bag set. For Twin-Twin XL reversible bedding sets, each set comes with one pillowcase. For our solid bedding sets, each set comes with one pillowcase and one pillow sham. Reversible Full XL and Split King sets come with two pillowcases, and the solid sets come with two pillowcases and two pillow shams. Need extra pillowcases?</span> <a href="{{ shop.url }}/product/microfiber-pillowcase-set/">Get them here</a>.<br></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Does your bed-in-a-bag come with a bed skirt?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;">We offer two different bed-in-a-bag sets. <a href="{{ shop.url }}/product/twin-xl-bed-in-a-bag-comforter-set-with-bed-skirt/">This bedding set</a> comes complete with a bed skirt!</div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Is the comforter machine washable?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">All of our bedding is easy care. Machine wash on cold with similar colors and tumble dry low. No bleach, please.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Is the comforter all season?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Our comforter comes complete with breathable siliconized fiber filling which means that it’s truly all season. It will keep you warm on those chilly winter nights while feeling just right the rest of the year.</span><br></div>
                </div>
            </div>
            <h3 style="text-align: center;">Mattress Pads</h3>
            <div class="shortcode-accordion">
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">How thick is the reversible mattress pad?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Our reversible mattress pad is extra plush. Coming in at 1.5 inches thick, it’s a great choice for increasing the cush of any mattress. </span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">What do you mean by reversible mattress pad?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">This mattress pad offers two sleeping experiences in one. The fuzzy side is extra cozy and warm for the winter months while the smooth size is breathable to keep you cool during the summer months.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Will your mattress pads keep me cool?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Our mattress pads are breathable for cool sleeping even in the warm summer months.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Does the fill clump?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">The diamond pattern stitching throughout our mattress pads keeps the fill from shifting over time.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Will it fit extra thick mattresses?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Both of our mattress pads feature extra deep pockets to prevent slipping off even the thickest of mattresses. Our <a href="{{ shop.url }}/product/quilted-fitted-mattress-pad/">quilted mattress pad</a> will fit mattresses up to 15 inches deep. Need ever deeper pockets? Our <a href="{{ shop.url }}/product/reversible-microplush-mattress-pad/">reversible mattress pad</a> is the real MVP, coming in with astonishing 20 inch deep pockets.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Are your mattress pads machine washable?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Yes! We suggest machine washing in cold water on a gentle cycle. Tumble dry on low.</span></div>
                </div>
            </div>
            <h3 style="text-align: center;">Pillows</h3>
            <div class="shortcode-accordion">
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">How many pillows come in a package?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;">Our <a href="{{ shop.url }}/product/shredded-memory-foam-pillow-1-pack/">memory foam pillows</a> come with one pillow per package while our <a href="{{ shop.url }}/product/plush-down-alternative-pillow-2-pack/">down alternative pillows</a> come with two pillows.</div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">How big are the memory foam pillows?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Our standard size pillow measures 20”x26” and weighs 3.5 pounds, and our king size pillow measures 20”x36” and weighs 4 pounds.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">How big are the down alternative pillows?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Each of our standard size down alternative pillows are 20”x26” and weighs 1.5 pounds. Our king size pillows are 20”x36” and weighs 2.5 pounds. </span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Can I wash my pillows?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">You definitely can! Both of our pillows can be washed on a gentle cycle with cool water. Tumble dry on low. </span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">What should I do if my memory foam pillow becomes flat?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">You can quickly fluff your pillow by popping it in the dryer on low. Allow 24 hours for pillows to expand after first opening or washing.</span></div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion__title js-title js-title-iconed icon-class-goes-here">Are your pillows safe?<span class="open-close"><i class="icons8-multiply"></i></span></h3>
                    <div class="accordion__copy js-copy" style="display: none;"><span style="font-weight: 400;">Yes! Our pillows are made without CFC’s, formaldehyde, TDCPP, PBDEs, TCEP flame retardants or heavy metals. </span></div>
                </div>
            </div>
		</article>			
			</div>
	